div img {
    margin-top: 100px;
    margin-left: 100px;
}

div a button {
    width: 300px;
    margin-left: 150px;
    margin-top: 10px;
}

.info {
    position: absolute;
    right: 200px;
    top: 120px;
}