{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Головна сторінка</title>
<link rel="stylesheet" href="{% static 'phones/css/home.css' %}">
{% endblock %}

{% block body %}
<div class="phones">
    {% for phone in phones %}
        <a href="{% url 'phones:phone_detail' phone.id %}" style="text-decoration: none;" class="text-dark">
            <div class="phone">
                <div class="info">
                    <img src="{{ phone.image.url }}" width="188" height="250">
                    <h6>{{ phone.name }}</h6>
                    <h6>{{ phone.price }}</h6>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}