{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
<title>Мій профіль</title>
{% endblock %}

{% block body %}
<div class="text-center mt-5">
    <h3>{{ request.user.username }}</h3>
    <h4>{{ request.user.email }}</h4>
    <a href="{% url 'phones:basket' %}">Моя корзина</a>
    <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-success">Вийти з аккаунту</button>
    </form>
</div>
{% endblock %}